{% extends 'aplicacion/base.html' %}
{% load static %}
{% block header %}
Actividades de la comision {{comision}}
{% endblock header %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Comision</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
            <tr>
                <td>{{actividad.id}}</td>
                <td>{{actividad.nombre}}</td>
                <td>{{actividad.comision}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}