{% extends 'aplicacion/base.html' %}
{% load static %}
{% block header %}
Staff
{% endblock header %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
            <tr>
                <td>{{staff.id}}</td>
                <td>{{staff.nombre}}</td>
                <td>{{staff.apellido}}</td>
                <td>{{staff.email}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No se encontraron resultados de staff.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}